@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, span, ul, li, a, button {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  text-decoration: none;
}

button {
  font-family: 'Open Sans', sans-serif;
}
