.ring {
    margin-right: 46px;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
}

.stick {
    position: relative;
}

.stick:before {
    position: absolute;
    content: '';
    background: #fff;
    height: 39px;
    width: 1px;
    left: -23px;
    top: -20px;
}

.initials {
    color: #fff;
    margin-right: 30px;
    font-weight: 600;
    font-size: 14px;
}

@media screen and (max-width: 550px) {
    .initials {
        display: none;
    }

    .avatar {
        width: 24px;
    }

    .stick:before {
        height: 24px;
        top: -12px;
        left: -13px;
    }

    .ring {
        margin-right: 26px;
        width: 16px;
    }
}
